<h1>Login</h1>

<form class="ui form" *ngIf="!authService.getUser()">
  <div class="field">
    <label>User</label>
    <input type="text" name="username" #username placeholder="(type user)">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" #password placeholder="(type password)">
  </div>
  <button class="ui button" (click)="login(username.value, password.value)">Submit</button>
</form>

<div class="ui visible negative message" *ngIf="message">
  {{ message }}
</div>

<div class="ui visible green message" *ngIf="authService.getUser()">
  Logged in as <b>{{ authService.getUser() }}</b><br>
  <a href (click)="logout()">Log out</a>
</div>