.ui.seven.item.menu {
    width: 70%;
    float: inline-start;
}

@media (max-width: 1024px) {
    .ui.seven.item.menu {
        width: 100%;
        float: initial;
    }
}

#content {
    clear: both;
}