<div class="page-header">
  <div class="ui seven item menu">
    <div class="header item">Router Sample</div>
    <a class="item" [routerLink]="['/home']">Home</a>
    <a class="item" [routerLink]="['/about']">About Us</a>
    <a class="item" [routerLink]="['/contact']">Contact Us</a>
    <a class="item" [routerLink]="['/products']">Products</a>
    <a class="item" [routerLink]="['/login']">Login</a>
    <a class="item" [routerLink]="['/protected']">Protected</a>
  </div>
  <div id="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>