<h2>Products</h2>

<div class="navLinks">
    <a [routerLink]="['./main']">Main</a> |
    <a [routerLink]="['./more-info']">Interest</a> |
    <a [routerLink]="['./spotify']">Sportify</a> |
    Enter id: <input #id size="6">
    <button (click)="goToProduct(id.value)">Go</button>
</div>

<!--
    Angular router is smart enough to priorie concrete routes first (like /porducts/spor-tify) over
    the parameteried ones (like /products/123). This way /products/spor-tify will never be handled by the
    more generic, catch-all route /products:id        
-->

<div class="products-area">
    <router-outlet></router-outlet>
</div>